* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'CreditCard';
  src: local('creditcard'), url('/fonts/creditcard.ttf') format('truetype');
}

html {
  font-size: 11px;
}

@media screen and (min-width: 351px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 401px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 500px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #00052b;
  background: #d2e8fb;
}

.wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card__face {
  border-radius: 0.625rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: flex-end;
}

.card__content {
  padding: 0 1.5625rem 1.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  /* Set a fixed height so that the card number on the backside appears in the same location */
  height: 6.9375rem;
}

.card__name {
  max-width: 240px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
}

.card__number {
  font-size: 1.25rem;
}

.card__name-expiration-wrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;

  /* Take up space even if empty,
    to prevent card from growing when the user enters name or expiration date */
  height: 2.25rem;
}

.card__back .card__expiration-month,
.card__back .card__expiration-year,
.card__back .card__expiration-wrapper > span {
  transform: scale(-1, 1);
  opacity: 0.3;
  color: rgba(10, 60, 150, 0.8);
  text-shadow: 1px 2px 4px #222, 0 0 0 #000, 1px 2px 4px #fff;
}

fieldset {
  border: none;
  margin: 24px;
  padding: 0;
}

input,
button,
select {
  border-radius: 4px;
  outline: none;
  padding: 10px;
  border: 1px solid #e5e8ee;
  font-size: 16px;
}

input,
button {
  width: 100%;
}

.card__expirationDate-wrapper {
  width: 61%;
}

label {
  font-size: 12px;
  margin-bottom: 4px;
  display: block;
}

select {
  margin-right: 4%;
  width: 47%;
}

.card__cvv-input {
  width: 29%;
}

select:last-of-type {
  margin-right: 0;
}

select:focus,
input:focus {
  border-color: #6abcfb;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.04);
}

button {
  color: #fff;
  background-color: dodgerblue;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: hsl(210, 100%, 60%);
}
